<Files "giveYourselfCredit.php">

<IfModule mod_shib>
    AuthType shibboleth
    ShibRequestSetting requireSession 1
    require valid-user
</IfModule>



</Files>


#php_flag display_startup_errors on
#php_flag display_errors on
#php_flag html_errors on
